/* warna yang akan digunakan */
/* rgb(235, 241, 248) background navbar */
/* rgb(98, 167, 227) font biru muda */
/* rgb(45, 103, 154) font biru tua */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  position: relative;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(255, 253, 253);
  color: rgb(98, 167, 227);
  line-height: 1.8rem;
  min-height: 0;
}

.ciputra h2 {
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 3rem;
  padding-top: 5rem;
  margin-top: 5rem;
  line-height: 1.6rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.ciputra h2 span {
  color: rgb(45, 103, 154);
  flex-wrap: wrap;
}

.ciputra h3 {
  color: rgb(45, 103, 154);
  padding-left: 2rem;
}

.ciputra h4 {
  padding-left: 2rem;
}

.ciputra p {
  padding-left: 2rem;
}

.cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1rem;
  color: rgb(98, 167, 227);
  background-color: rgb(235, 241, 248);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
  margin-bottom: 5rem;
  margin-left: 2rem;
}

/* media queris */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .navbar {
    padding: 1.5rem 5%;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgb(235, 241, 248);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
    flex-direction: column;
    align-items: start;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 500;
  }

  .navbar .navbar-extra {
    display: block;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .dropdown-menu {
    position: static;
    display: none;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }

  .dropdown.active .dropdown-menu {
    display: block;
  }

  .dropdown-toggle {
    position: relative;
  }

  .dropdown-menu li a {
    padding: 0.5rem;
    margin-left: 2rem;
  }

  .dropdown-toggle i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .about .row {
    flex-wrap: wrap;
  }
}

/* mobile */
@media (max-width: 480px) {
  html {
    font-size: 55%;
  }
}
